<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
              
                <defaults>
                    <security>
                    
                        <publicService type="Sitecore.Services.GraphQL.Hosting.Security.GraphQLSecurity, Sitecore.Services.GraphQL">
                            
                            <complexityConfiguration type="GraphQL.Validation.Complexity.ComplexityConfiguration, GraphQL">
                                <maxDepth>25</maxDepth>
                                <maxComplexity>2000</maxComplexity>
                                <fieldImpact>2</fieldImpact>
                            </complexityConfiguration>

                        </publicService>
                    </security>

                   
                </defaults>
            </GraphQL>
        </api>

      </sitecore>
</configuration>
