<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentManagement or XMCloud" security:require="Sitecore">
		<settings>
			<setting name="JavaScriptServices.ViewEngine.Http.JssEditingSecret" value="c8SWbIoNa4y1w4djgH8mEBnbXmdNrNli" />
		</settings>
	</sitecore>
</configuration>
